<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1 style="text-align: center;">e-Konter Helsinki-08</h1>
  <%- include('../navbar/navbar.ejs') %>
  <%= JSON.stringify(data) %>
  <h3>Selamat datang, <%= data.name %></h3>
  <h4>Saldo: <%= convertToRupiah(data.saldo) %></h4>
  <h4>Nomer Hp: <%= data.phone_number %></h4>
  <a href="transaction.html">Beli Voucher</a>
  <a href="editdata.html">Edit Data</a>
  <table border="1px">
    <tr>
      <th>Voucher</th>
      <th>Jumlah</th>
    </tr>
    <tr>
      <td>Rp. 100.000 <- (helper)</td>
      <td style="text-align: center;">2</td>
    </tr>
  </table>
</body>
</html>